---
import { site } from '@/data/site';
---

<footer class="footer">
  <div class="container footer-inner">
    <span>{site.name} / {site.domain}</span>
    <span>{site.disclosure}</span>
  </div>
</footer>
